
table {
	margin: 50px auto;
}

td {
	font-size: 20px;
	text-align: left;
}
input {
	font-size: 20px;
}
button {
	font-size: 20px;
	margin-left: 5px;
}
h1 {
	text-align: center;
}
span {
	color: red;
}
